version: '2'

services:
  # Orderer服务
  orderer0.edu.cn:
    container_name: orderer0.edu.cn
    image: hyperledger/fabric-orderer:latest
    environment:
      - ORDERER_GENERAL_LOGLEVEL=info
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
      - ORDERER_GENERAL_LOCALMSPID=EduOrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_CHANNELPARTICIPATION_ENABLED=true
      - ORDERER_ADMIN_TLS_ENABLED=true
      - ORDERER_ADMIN_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_ADMIN_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_ADMIN_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_ADMIN_TLS_CLIENTROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_ADMIN_LISTENADDRESS=0.0.0.0:7053
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./system-genesis-block/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
        - ./orderer/edu.cn/orderers/orderer0.edu.cn/msp:/var/hyperledger/orderer/msp
        - ./orderer/edu.cn/orderers/orderer0.edu.cn/tls:/var/hyperledger/orderer/tls
        - orderer0_data:/var/hyperledger/production/orderer
    ports:
      - "7050:7050"
      - "7053:7053"
    networks:
      - ssm

# Peer0 of School1
  peer0.bureau.edu.cn:
    container_name: peer0.bureau.edu.cn
    image: hyperledger/fabric-peer:latest
    environment:
      - CORE_PEER_ID=peer0.bureau.edu.cn
      - CORE_PEER_ADDRESS=peer0.bureau.edu.cn:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer0.bureau.edu.cn:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.bureau.edu.cn:7051
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.bureau.edu.cn:7051
      - CORE_PEER_LOCALMSPID=EducationBureauMSP
      - CORE_PEER_MSPCONFIGPATH=/var/hyperledger/peer/msp
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/var/hyperledger/peer/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/var/hyperledger/peer/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/var/hyperledger/peer/tls/ca.crt
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    depends_on:
      - orderer0.edu.cn
    command: peer node start
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./peer/bureau.edu.cn/peers/peer0.bureau.edu.cn/msp:/var/hyperledger/peer/msp
        - ./peer/bureau.edu.cn/peers/peer0.bureau.edu.cn/tls:/var/hyperledger/peer/tls
        - peer0_bureau_data:/var/hyperledger/production
    ports:
      - "7051:7051"
      - "7052:7052"
    networks:
      - ssm

  # Peer0 of School1
  peer0.school1.edu.cn:
    container_name: peer0.school1.edu.cn
    image: hyperledger/fabric-peer:latest
    environment:
      - CORE_PEER_ID=peer0.school1.edu.cn
      - CORE_PEER_ADDRESS=peer0.school1.edu.cn:7061
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7061
      - CORE_PEER_CHAINCODEADDRESS=peer0.school1.edu.cn:7062
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7062
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.school1.edu.cn:7061
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.school1.edu.cn:7061
      - CORE_PEER_LOCALMSPID=School1MSP
      - CORE_PEER_MSPCONFIGPATH=/var/hyperledger/peer/msp
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/var/hyperledger/peer/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/var/hyperledger/peer/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/var/hyperledger/peer/tls/ca.crt
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    depends_on:
      - orderer0.edu.cn
    command: peer node start
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./peer/school1.edu.cn/peers/peer0.school1.edu.cn/msp:/var/hyperledger/peer/msp
        - ./peer/school1.edu.cn/peers/peer0.school1.edu.cn/tls:/var/hyperledger/peer/tls
        - peer0_school1_data:/var/hyperledger/production
    ports:
      - "7061:7061"
      - "7062:7062"
    networks:
      - ssm

  # Peer0 of School1
  peer0.school2.edu.cn:
    container_name: peer0.school2.edu.cn
    image: hyperledger/fabric-peer:latest
    environment:
      - CORE_PEER_ID=peer0.school2.edu.cn
      - CORE_PEER_ADDRESS=peer0.school2.edu.cn:7071
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7071
      - CORE_PEER_CHAINCODEADDRESS=peer0.school2.edu.cn:7072
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7072
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0.school2.edu.cn:7071
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0.school2.edu.cn:7071
      - CORE_PEER_LOCALMSPID=School2MSP
      - CORE_PEER_MSPCONFIGPATH=/var/hyperledger/peer/msp
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/var/hyperledger/peer/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/var/hyperledger/peer/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/var/hyperledger/peer/tls/ca.crt
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    depends_on:
      - orderer0.edu.cn
    command: peer node start
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - ./peer/school2.edu.cn/peers/peer0.school2.edu.cn/msp:/var/hyperledger/peer/msp
        - ./peer/school2.edu.cn/peers/peer0.school2.edu.cn/tls:/var/hyperledger/peer/tls
        - peer0_school2_data:/var/hyperledger/production
    ports:
      - "7071:7071"
      - "7072:7072"
    networks:
      - ssm

  # 更多的Peer节点和CA服务可以按照类似的方式配置

  # 教育局的CA服务
  ca.orderer.edu.cn:
    container_name: ca.orderer.edu.cn
    image: hyperledger/fabric-ca:latest
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca-orderer
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_CSR_CN=ca-orderer
      - FABRIC_CA_SERVER_PORT=7044
    ports:
      - "7044:7044"
    command: sh -c 'fabric-ca-server start -b admin:adminpw -d'
    volumes:
      - ./ca/orderer:/etc/hyperledger/fabric-ca-server
    networks:
      - ssm

  # 教育局的CA服务
  ca.bureau.edu.cn:
    container_name: ca.bureau.edu.cn
    image: hyperledger/fabric-ca:latest
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca-bureau
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_CSR_CN=ca-bureau
      - FABRIC_CA_SERVER_PORT=7054
    ports:
      - "7054:7054"
    command: sh -c 'fabric-ca-server start -b admin:adminpw -d'
    volumes:
      - ./ca/bureau:/etc/hyperledger/fabric-ca-server
    networks:
      - ssm

  # School1的CA服务
  ca.school1.edu.cn:
    container_name: ca.school1.edu.cn
    image: hyperledger/fabric-ca:latest
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca-school1
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_CSR_CN=ca-school1
      - FABRIC_CA_SERVER_PORT=7064
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:17064
    ports:
      - "7064:7064"
    command: sh -c 'fabric-ca-server start -b admin:adminpw -d'
    volumes:
      - ./ca/school1:/etc/hyperledger/fabric-ca-server
    networks:
      - ssm

  # School2的CA服务
  ca.school2.edu.cn:
    container_name: ca.school2.edu.cn
    image: hyperledger/fabric-ca:latest
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=ca-school2
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_CSR_CN=ca-school2
      - FABRIC_CA_SERVER_PORT=7074
    ports:
      - "7074:7074"
    command: sh -c 'fabric-ca-server start -b admin:adminpw -d'
    volumes:
      - ./ca/school2:/etc/hyperledger/fabric-ca-server
    networks:
      - ssm

volumes:
  orderer0_data:
  peer0_bureau_data:
  peer0_school2_data:
  peer0_school1_data:

networks:
  ssm:
